* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(178, 176, 176);
}

.navbar {
    height: 60px;
    background-color: rgb(31, 119, 119);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

.content {
    width: 60%;
    height: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    text-align: start;
    gap: 20px;
}

.title {
    color: rgb(166, 24, 166);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.items {
    margin-left: 60px;
}

.items li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    color: white;
}